<!-- Team Section -->
    <section id="team" class="bg-light-gray" style="padding:25px 0!important;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                <h2>고객센터</h2>
                </div>
                <div class="col-12 col-md-4 text-center">
                  <h2><a href="tel:031-8017-2468" style="text-decoration: none;color:#0e0e0e;"><i class="fa fa-phone"></i>&nbsp;&nbsp;031-8017-2468</a></h2>
                </div>
                <div class="col-12 col-md-4 text-center">
                  <h2><a href="tel:010-3940-2468" style="text-decoration: none;color:#0e0e0e;"><i class="fa fa-mobile"></i>&nbsp;&nbsp;010-3940-2468</a></h2>
                </div>
            </div>

        </div>
    </section>
