@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
body{
	font-family: 'Sunflower', sans-serif;
}

.copyright > li {
    font-size: 1.15rem;
}

.g-font-1{
    font-size:1rem;
}

.g-font-1_18{
    font-size:1.18rem;
}
.g-font-1_19{
    font-size:1.19rem;
}
.g-font-1_2{
    font-size:1.2rem;
}
.g-font-1_3{
    font-size:1.3rem;
}
.g-font-1_4{
    font-size:1.4rem;
}
.g-font-1_5{
    font-size:1.5rem;
}
