<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include team.html %}
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    <a id="MOVE_TOP_BTN" href="#"><i class="fa fa-arrow-circle-up" style="font-size:3.5rem;"></i></a>

    <script>
        $(function() {
            $(window).scroll(function() {
                if ($(this).scrollTop() > 500) {
                    $('#MOVE_TOP_BTN').fadeIn();
                } else {
                    $('#MOVE_TOP_BTN').fadeOut();
                }
            });

            $("#MOVE_TOP_BTN").click(function() {
                $('html, body').animate({
                    scrollTop : 0
                }, 400);
                return false;
            });
        });
    </script>

    </body>
</html>
